<div id="jumbo" class="p-15 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 id="jumbo-title" class="display-5 fw-bold">A PAGE FOR PLANT PARENTS</h1>
    <p>Blogs, tips and photos from a fellow beginner</p>
  </div>
</div>