{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-8">
          <h1>{{ headline }}</h1>
          <h3>{{ date }}</h3>
          {{ prose(post) }}
      </div>
      <div class="col-sm-4">
          <img src="../img/blog-photos/{{ slug }}.jpeg" alt="{{ headline }}" class="img-fluid mb-4">
      </div>
    </div>
  </article>
{% endblock %}