{% extends '_templates/base.njk' %}

{% block page_title %}Beginner Plants{% endblock %}

{% block page_description %}A list of pirate ships of lore from fact and fiction.{% endblock %}

{% block content %}

<article class="container">

  <section class="plant-cards">
    <div class="row row-cols-md-2 row-cols-lg-3 g-4">
      {% for plant in plants.plants %}
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="img/plant-photos/{{ plant.image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ plant.headline }}</h5>
            <p class="card-text">{{ plant.subhead }}</p>
            <a href="plants/{{ plant.slug }}.html" class="btn btn-success">More Info</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </section>
  
  
</article>
{% endblock %}