{% extends '_templates/base.njk' %}

{% block page_title %}Blog{% endblock %}

{% block page_description %}A blog from a beginner plant parent.{% endblock %}

{% block content %}
<article class="container">
  <div class="row justify-content-evenly">
    <div class="col col-md-8">
      <div class="blog">
        {% for blog in blogs.blogs %}
        <h3><a href="blogs/{{ blog.slug }}.html">{{ blog.headline }}</a></h3>
        <p>{{ blog.date }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-success" style="width: 18rem;">
          <div class="card-header text-center">
            about the blogger!
          </div>
        <img src="img/IMG_4016.jpg" class="card-img-top" alt="Photo of me in front of my hanging plants.">
        <div class="card-body">
          <p class="card-text">Hi I'm Kayla! I am a young plant mom with a passion for caring for my green babies. I am learning new things about these beautiful living things every day. I hope my journey helps you, let's grow together!</p>
        </div>
  </div>

</article>
{% endblock %}