{% extends '_templates/base.njk' %}

{% block page_title %}Homepage{% endblock %}

{% block page_description %}Homepage for beginner plant website.{% endblock %}

{% block content %}
<article class="container">
  <div class="nursery">
    {% for nursery in nurseries.nurseries %}
    <h3><a href="{{ nursery.url }}" target="_blank">{{ nursery.nursery_name }}</a></h3>
    <p>{{ nursery.address }}, {{ nursery.city }}, {{ nursery.state }} {{ nursery.zip }}</p>
    {% endfor %}
  </div>
</article>
{% endblock %}