{% extends '_templates/base.njk' %}

{% block page_title %}Homepage{% endblock %}

{% block page_description %}Homepage for beginner plant website.{% endblock %}

{% block content %}
<article class="container">
  <div class="row justify-content-evenly">
    <div class="col col-md-8">
      <div class="intro">
        <h4>Hey there, fellow newbies!</h4>
        <p>Welcome to my corner of the internet where we dive headfirst into the wonderful world of indoor plants. As a 22-year-old college student, I've recently discovered the joy and serenity that comes with nurturing these leafy companions. Join me on this journey as we explore everything from choosing the perfect plants for your space to troubleshooting common issues. Let's turn our humble abodes into lush green oases together!</p>
      </div>
      <br>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/carousel-photos/fixed_IMG_0227.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_IMG_0230.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_IMG_0253.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_IMG_0257.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_IMG_0265.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_IMG_0582.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_IMG_1156.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_KTIMG_0027.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_KTIMG_0057.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/fixed_KTIMG_9932.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/IMG_2823.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/carousel-photos/IMG_3024.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-3">
      <div class="alert alert-success" role="alert">
        <div class="nursery">
          {% for nursery in nurseries.nurseries %}
          <h3><a href="{{ nursery.url }}" class="alert-link" target="_blank">{{ nursery.nursery_name }}</a></h3>
          <p>{{ nursery.address }}, {{ nursery.city }}, {{ nursery.state }} {{ nursery.zip }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}